<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Note</title>
</head>
<body>
<h1>Delete note</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/notes">Return to Notes list</a>
</p>
<form th:action="@{/delete-note}" th:object="${note}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tiêu đề:</td>
            <td th:type="${note.title}"></td>
        </tr>
        <tr>
            <td>Nội dung:</td>
            <td th:text="${note.content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>